+++
title = "ESA Stack"
linkTitle = "ESA Stack"

+++

{{< blocks/cover title="Welcome to ESA Stack!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4 " href="https://github.com/esastack/">
		<i class="fab fa-github ml-2"></i> View on Github
	</a>
	<p class="lead mt-5">Elastic Service Architecture!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
ESA Stack is an opensource community that focuses on Micro-Services and Cloud Native. Help users quickly build high-performance, high-availability cloud native services.
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

{{% blocks/feature icon="fa-solid fa-cube" title="ESA Restlight" url="https://github.com/esastack/esa-restlight" %}}
A lightweight and rest-oriented web framework based on `Netty`. Benchmarks: `12.9w` RPS (4c8g).
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-cube" title="ESA RestClient" url="https://github.com/esastack/esa-restclient" %}}
An asynchronous event-driven http client based on netty. Help users quickly build high-performance, easy-to-use, simple rest client. Benchmarks: `11w` RPS (4c8g).
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-cube" title="ESA ServiceKeeper" url="https://github.com/esastack/esa-servicekeeper" %}}
A lightweight service governance framework that provides many awesome features such as rate limit, concurrent limit, circuit breaker, retry and fallback...
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-cube" title="ESA Cabin" url="https://github.com/esastack/esa-cabin" %}}
A lightweight class isolation container for Java applications.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-cube" title="ESA HttpServer" url="https://github.com/esastack/esa-httpserver" %}}
An asynchronous event-driven HTTP server based on netty. Benchmarks: `14.2w` RPS (4c8g).
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-cube" title="ESA Commons" url="https://github.com/esastack/esa-commons" %}}
Commons lib of ESA Stack: Utils, SPI enhancement, Logging, Lambda enhancement, Collection enhancement, and so on...
{{% /blocks/feature %}}

{{< /blocks/section >}}



